@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
  }

  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  table {
    background: #eee;
    display: block;
  }

  td {
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    background-color: #fff;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  }

  .blue {
    background-color: blue;
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: green;
  }

  fieldset {
    width: 800px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
  }

  legend {
    font-size: 20px;
    font-weight: 700;
  }

  button {
    padding: 10px 30px;
    border-radius: 15px;
    background-color: #eee;
  }

  .result {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
  }

  #player-count {
    color: green;
  }

  #computer-count {
    color: red;
  }

  .show-winner {
    font-size: 28px;
    color: blue;
    font-weight: 700;
  }



